[user]
	name = {{ .name }}
	email = {{ .email }}
[pull]
	rebase = true
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	ls = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = nvim
	pager = delta
[delta]
	side-by-side = true
[diff]
	tool = meld
	colorMoved = zebra
	algorithm = histogram
	mnemonicPrefix = true
[push]
	default = current
	autoSetupRemote = true
[branch]
	sort = -committerdate
[column]
	ui = auto
[commit]
	verbose = true
[fetch]
	prune = true
[rebase]
	autoStash = true
[merge]
	conflictstyle = diff3
[rerere]
	enabled = 1
[color]
	ui = auto
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
